<div class="modal fade" id="accountCard" tabindex="-1" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Contraseña</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="account">
          <p><strong>Cuenta: </strong><span class="account-name">{{ account.login }}</span></p>

          <!-- Mensaje de éxito -->
          <div *ngIf="successMessage" class="alert alert-success mt-2">
            {{ successMessage }}
          </div>

          <!-- Mensaje de error -->
          <div *ngIf="errorMessage" class="alert alert-danger mt-2">
            {{ errorMessage }}
          </div>

          <!-- Formulario de cambio de contraseña -->
          <form class="formulario" (ngSubmit)="changePassword()">
            <div class="form-group mb-3">
              <label for="new-password" class="form-label">Nueva Contraseña</label>
              <input
                id="new-password"
                type="password"
                class="form-control"
                [(ngModel)]="newPassword"
                name="newPassword"
                required
              />
            </div>

            <div class="form-group mb-3">
              <label for="repeat-password" class="form-label">Repetir Contraseña</label>
              <input
                id="repeat-password"
                type="password"
                class="form-control"
                [(ngModel)]="repeatPassword"
                name="repeatPassword"
                required
              />
            </div>

            <div class="form-group mb-3">
              <label for="code" class="form-label">Código de Verificación</label>
              <input
                id="code"
                type="text"
                class="form-control"
                [(ngModel)]="verificationCode"
                name="verificationCode"
                required
              />
            </div>

            <!-- Enlace para solicitar código de verificación -->
            <a ngClass="generate-code" *ngIf="canRequestCode()" (click)="onGenerate2FACode()" class="request-code">
              Solicitar código
            </a>
            <span *ngIf="!canRequestCode()">Vuelve a intentar en {{ remainingTime }} segundos.</span>

            <!-- Spinner -->
            <div *ngIf="isLoading" class="spinner-border mt-2 text-center" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>

            <!-- Botón para enviar el formulario -->
            <button
              type="submit"
              class="btn btn-primary mt-3"
              [disabled]="!newPassword || !repeatPassword || !verificationCode"
            >
              Cambiar Contraseña
            </button>
          </form>
        </div>

        <div *ngIf="!account">
          <p>No se seleccionó ninguna cuenta.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
