<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Contraseña</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="account">
          <p><strong>Cuenta: </strong><span class="account-name"> {{account.login}}</span></p>

          <form class="formulario">
            <div class="form-group">
              <label for="new-password">Nueva Contraseña</label>
              <input id="new-password" type="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="repeat-password">Repetir Contraseña</label>
              <input id="repeat-password" type="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="code">Código</label>
              <input id="code" type="text" class="form-control">
            </div>

            <!-- Enlace para solicitar el código 2FA -->
            <a  *ngIf="canRequestCode()" (click)="onGenerate2FACode()" class="request-code">
              Solicitar código
            </a>
            <span *ngIf="!canRequestCode()">Vuelve a intentar en {{ remainingTime }} segundos.</span>

            <!-- Spinner que se muestra cuando está cargando -->
            <div *ngIf="isLoading" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>

            <!-- Botón para cambiar la contraseña -->
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
          </form>
        </div>
        <div *ngIf="!account">
          <p>No se seleccionó ninguna cuenta.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
