<div class="wrapper-about">
    <div class="column-1">
        <div class="project-terra">
            <h2>Proyecto <span style="font-family:l2font;color: #746535;">T</span>erra</h2>
            <img src="../../../assets/images/sep_bg.png" style="width: 80%;margin: auto;display: block;" alt=""
                srcset="">
            <p><strong>Terra está comenzando</strong> y queremos darte la bienvenida a un proyecto que nace de nuestra
                pasión por Lineage II y la comunidad que lo rodea. Sabemos que muchos servidores privados de este juego
                tienen una vida corta, cerrando en pocos meses y dejando a los jugadores con un sentimiento de pérdida y
                decepción. Por eso, en Terra, nuestro compromiso es diferente.</p>

            <p>Queremos crear un servidor estable y duradero, donde los jugadores sientan que su progreso es valorado y
                donde las decisiones se toman pensando en la experiencia a largo plazo. Nuestro compromiso es que el
                servidor estará disponible como mínimo durante 2 años después de que finalice la fase beta. Si la
                comunidad lo desea y el servidor es sustentable, estamos abiertos a extender su duración. Con cada
                actualización y mejora, buscamos acercarnos a una versión de Lineage II que respete la esencia del
                juego, adaptándose a los tiempos sin perder su esencia clásica.</p>

            <p>En Terra, valoramos la opinión de nuestros jugadores. Queremos que seas parte activa de este proyecto,
                donde implementaremos cambios y mejoras basados en las necesidades y deseos de nuestra comunidad. Este
                es un proyecto vivo, y con tu ayuda, estamos convencidos de que podemos crear algo realmente especial.
            </p>

            <p><strong>Proyecto Terra</strong> es una idea que hemos desarrollado <strong>AK4N1</strong> y
                <strong>Cul3bra</strong>, jugadores y desarrolladores que entendemos lo que significa invertir tiempo y
                esfuerzo en un servidor que no esté destinado a desaparecer. Estamos comprometidos a ofrecerte una
                experiencia auténtica y de calidad, y estaremos aquí en cada paso del camino para construir un mundo que
                tú, como jugador, puedas llamar hogar.
            </p>

            <p><strong>¡Te esperamos en este viaje y juntos haremos de Terra un lugar inolvidable!</strong></p>


        </div>
    </div>
    <div class="column-2">
        <div class="half-height wrapper-vote-options">

            <p>No olvides votarnos!</p>

            <ul class="list-tops">
                <li><a href="https://l2.hopzone.net/site/vote/106305/1"><img
                            src="https://l2.hopzone.net/assets/img/banners/vote_banners/banner_1.png"
                            alt="Vote for L2GENESIS.ONLINE" title="L2.HOPZONE.NET – Lineage 2 Servers ranking"></a></li>

                <li><img src="../../../assets/images/topzone.png" alt=""></li>
            </ul>
        </div>
        <div class="half-height">


            <img src="../../../assets/images/baium-Photoroom.png" class="baium-img" alt="" srcset="">

        </div>
    </div>
</div>