/* General Styles */



.container {
    display: flex;
    margin: 0;
}
.filter {
    width: 100%;
    height: 100%;
    padding: 0px;
}
.sidebar {
    height: 100vh; /* Full height */
    width: 230px;
    transition: width 0.3s ease, visibility 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar.closed {
    width: 60px;
}

.wrapper-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
}

.toggle-close,
.toggle-open {
    cursor: pointer;
    font-size: 20px;
    color: rgb(66, 66, 66);
}

.toggle-open {
    width: 100%;
    text-align: right;
    color: white;
}
.toggle-close {
    display: none;
    margin-left: 15px;
    color: white;

}

.menu i {
    font-size: 20px;
    padding-right: 50px;
}

.sidebar.closed .toggle-open {
    display: none;
}

.sidebar.closed .toggle-close {
    display: block;
    margin-left: 45px;
}

.sidebar ul {
    list-style-type: none;

    width: 100%;

    margin-top: 25px;
    padding: 0px !important;
    background-color: #060810;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    color: white;
    font-family: "l2font";
    font-size: 16px;
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 3px black;
    font-style: normal;
    font-weight: 590;
    line-height: 16px;

}

.sidebar ul li {
    margin-bottom: 10px;
    text-align: center;
    color:  inherit;
    width: 100%;
    text-transform: uppercase;
    margin-top: 20px;

}

.sidebar ul li a {
    color:inherit;
    text-decoration: none;
    display: flex;
    transition: justify-content 0.3s ease;
    width: 80%;
    margin: auto;

}

/* Cuando la sidebar está abierta */
.sidebar:not(.closed) ul li a {
    justify-content: start; /* Alinea los íconos al inicio */
    text-align: start;

}

/* Cuando la sidebar está cerrada */
.sidebar.closed ul li a {
    justify-content: center; /* Centra los íconos */
}

.sidebar ul li a i {
    margin-right: 10px;
    transition: margin-right 0.3s ease;
    font-size: 20px;
    min-width: 30px; /* Espacio fijo para los íconos */
    text-align: center; /* Centra los íconos horizontalmente */
}

.sidebar ul li a span {
    display: inline-block;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.sidebar.closed ul li a span {
    opacity: 0;
    visibility: hidden;
    width: 0;
    margin-left: -10px; /* Oculta completamente el texto */
}

.sidebar.closed ul li a i {
    margin-right: 0;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Estilos generales para el contenedor */
.content {
    padding: 20px;
    height: 100vh;
}






/* Responsive Design */
@media screen and (max-width: 360px) {
    .sidebar {
        width: 60px;
    }
}
