<div class="wrapper-home">
 
    <div  class="wrapper-flame-black">
        <img src="../../../assets/footer-corner.png" alt="" srcset="">
    </div>
    <div class="carousel">
        
        <img src="../../../assets/footer-corner.png" class="img-flame" alt="" srcset="">

    </div>
    <div class="about" style="background-color: black;">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>


    </div>
</div>