.wrapper-home {
    display: flex;
    flex-direction: column;
    height: 100%;

}



.wrapper-flame-black {
    transform: rotate(180deg);
    height: 295px;
    width: 100%;
    z-index: 1;
}

.carousel {
    height: calc(100vh - 55px);
    width: 100%;
    background-image:
        var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: background-image 2s ease-out;
    filter: grayscale(50%);
}

.content {
    height: 70%;
    width: 100%;
    margin-top: -150px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;



}

.events {
    width: 150px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-item {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.feature-item {
    background-image: url("../../../assets/images/iconl2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: relative;
    /* Permite que los elementos hijos se posicionen relativos a este */
}

.feature-item:hover {
    cursor: pointer;
}

.text-event {
    position: absolute;
    bottom: 70px;
    left: -30px;
    width: 120px;
    text-align: center;
    display: none;
    backdrop-filter: blur(35px);
    font-family: 'DIN Next W1G', sans-serif;
    font-weight: normal;
    color: #746535;
    box-shadow: 0px 0px 15px #746535;
    z-index: 10;
    /* Asegurarse de que el popover esté por encima de otros elementos */
}

.events-item:hover .text-event {
    display: block !important;
}

.feature-item:hover i {
    color: #746535 !important;
}

.feature-item i {
    font-size: 17px;
    color: inherit;
}

.rates-sv {
    backdrop-filter: blur(5px);
    width: 200px;
    padding: 10px;
    box-shadow: 0px 0px 30px 15px black;
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    padding-bottom: 15px;


}

.header-rates-sv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filter {
    background-color: rgba(0, 0, 0, 0.514);
    height: 100%;
    width: 100%;
}

.rates {}

.imgInterlude {
    display: block;
    width: 150px;
    height: 60px;
    margin-bottom: -10x;

}

.rates img {
    margin-top: 5px !important;
}

.rates ul {
    padding: 0px;
    text-align: center;
    width: 70%;
    margin: auto;
}

.rates ul li {
    list-style: none;
    text-align: start;
    border-bottom: 1px solid #cfbc9a;
}


.status-sv {
    width: 200px;
    padding: 10px;
    color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 30px 15px black;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.479);
}

.status-sv img {
    width: 30px;
    height: 30px;
}

.carousel .img-flame {
    position: absolute;
    bottom: 0px;
}


.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-self: stretch;
    margin-bottom: 50px;

}


.colorRate {
    color: #ffc24c;
    font-weight: 700;
    font-size: 14px;
    float: right;

}

.home-presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;

}

.text-content {
    color: white;
    width: 60%;
    border-radius: 3px;
    padding: 10px;
}

.text-content .divider-top,
.text-content .divider-bottom {
    width: 100%;
    display: block;
    padding-top: 10px;
}

.divider-bottom {
    transform: rotate(180deg);
}

.text-content p {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    display: block;
}

.text-content h1 {
    text-align: center;
    font-family: "Beaufort";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

.play-button {
    display: block;
    margin: auto;
    border: none;
    background: linear-gradient(90deg, #746535 0%, #DABE64 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-size: 13.5px;
    color: white;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.play-button::before {
    content: "";
    display: block;
    position: absolute;

}

@media (min-width: 991px) and (max-width: 1440px) {
    /* Estilos para pantallas entre 400px y 800px */

    .content {}

    .events {
        width: 30%;

    }

    .home-presentation {
        width: 40%;

    }

    .text-content {
        width: 100%;
    }

    .information {
        width: 30%;
        justify-content: center;
    }


}

.about {
    background-color: black;
    height: 100vh;
}


@media (width <=991px) {

    .content {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 0px;
    }

    .list-events {
        display: flex;
        flex-direction: row;

    }

    .list-events li {
        filter: drop-shadow(0px 0px 15px black);
        gap: 5px;

    }

    .events {
        width: 100%;
        display: none;

    }

    .home-presentation {
        display: none;

    }

    .information {
        width: 100%;
        justify-content: center;
    }

    .imgInterlude {
        display: block;
        width: 150px;
        height: 60px;
        margin-bottom: -10x;

    }

    .header-rates-sv {
        justify-content: center;
        gap: 5px;
    }

    .status-sv {
        width: 150px;
    }

    .status-sv img {
        width: 15px;
        height: 15px;
    }

    .rates-sv {
        backdrop-filter: blur(0px);
        border: none;
        box-shadow: none;
        background-color: transparent !important;

    }
}

.rotating {
    width: 100px;
    /* Ajusta el tamaño según necesites */
    animation: rotate 15s linear infinite;
    /* Llama a la animación, dura 2s, es lineal y se repite infinitamente */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Comienza en 0 grados */
    }

    to {
        transform: rotate(360deg);
        /* Termina en 360 grados */
    }
}