.wrapper-home {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg,
            hsl(0deg 0% 0%) 0%,
            hsl(231deg 45% 2%) 26%,
            hsl(231deg 45% 4%) 38%,
            hsl(231deg 45% 4%) 48%,
            hsl(231deg 45% 5%) 55%,
            hsl(231deg 45% 6%) 61%,
            hsl(231deg 45% 6%) 67%,
            hsl(231deg 45% 7%) 72%,
            hsl(231deg 45% 7%) 77%,
            hsl(231deg 45% 7%) 82%,
            hsl(231deg 45% 8%) 87%,
            hsl(231deg 45% 8%) 93%,
            hsl(231deg 45% 9%) 100%);
}

.wrapper-flame-black {
    transform: rotate(180deg);
    height: 295px;
    width: 100%;
    z-index: 1;
}

.carousel {
    position: relative;
    top: -295px;
    height: calc(100dvh - 55px);
    background-color: rgba(137, 43, 226, 0.13);
    background-image: url("../../../assets/images/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel .img-flame {
    position: absolute;
    bottom: 0px;
}

.about {
    position: relative;
    top: -295px;
    padding: 10px;
}