<div class="wrapper-home">
 
    <div  class="wrapper-flame-black">
        <img src="../../../assets/footer-corner.png" alt="" srcset="">
    </div>
    <div class="carousel">
        <div class="content" style="color: white;">
            <div class="logo-container">
                <img src="../../../assets/images/l2interludecombinado.png" class="imgLineage" alt="" srcset="">
                
            </div>
            <h1 class="text-gradient">¡Bienvenido a  <span style="font-family:l2font;">L</span>2 Terra!</h1>
            <p class="status" style="width: 600px;font-style: italic;">
                Nuestro servidor está <span class="highlight">en línea</span> y en fase <b >Beta</b>. Aunque seguimos ajustando y optimizando la experiencia de usuario, ya puedes unirte para probarlo. Te invitamos a explorar y ayudarnos con tus comentarios. ¡Forma parte de esta aventura única!
            </p>
            <button class="play-button">Comenzar a Jugar</button>
        </div>
        
        
        <img src="../../../assets/footer-corner.png" class="img-flame" alt="" srcset="">

    </div>
    <div class="about" style="background-color: black;color: white;">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus quidem quam ipsam eius, eos et cupiditate inventore iusto tempora quia exercitationem tempore explicabo ea ipsum dolores sequi maiores sed!</p>


    </div>
</div>