<div class="wrapper-carousel">

    <img src="assets/images/footer-corner.png" alt="Esquina superior" class="corner-image top-corner">
  
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let image of images" class="slide">
        <img [src]="image" alt="imagen del carrusel" />
      </div>
    </ngx-slick-carousel>
  
    <div class="content-carousel">
  
      <div class="events">
        <ul class="list-events">
          <li class="events-item">
            <div class="feature-item">
              <i class="fa-solid fa-khanda"></i>
            </div>
            <div class="font-beaufort-bold text-event">
              Eventos Diarios
            </div>
          </li>
          <li class="events-item">
            <div class="feature-item">
              <i class="fa-brands fa-fort-awesome "></i>
            </div>
            <div class="font-beaufort-bold text-event">
              Asedios
            </div>
          </li>
          <li class="events-item">
            <div class="feature-item">
              <i class="fa-solid fa-crown"></i>
            </div>
            <div class="font-beaufort-bold text-event">
              Olimpiadas
            </div>
          </li>
          <li class="events-item">
            <div class="feature-item">
              <i class="fa-solid fa-location-crosshairs"></i>
            </div>
            <div class="font-beaufort-bold text-event">
              Epic Raid Boss
            </div>
          </li>
        </ul>
  
      </div>
  
  
      <div class="presentation">
        <img src="assets\images\lineage2Terra_blanco.png" alt="" class="logoTerra">
        <br>
        <img src="assets/images/title_bottom_bg.png" alt="" class="divider-top">
        <p class="font-din-normal"> <i style="color: yellow;" class="fa-solid fa-triangle-exclamation"></i> &nbsp; El
          servidor y el sitio están en
          desarrollo, pero se encuentran en
          línea. Tus comentarios/opiniones son bienvenidos mientras trabajamos para mejorar la
          experiencia.
        </p>
        <p class="font-din-bold">Queremos construir una comunidad sólida, así que cualquier
          opinión cuenta.
  
        </p>
        <img src="assets/images/title_bottom_bg.png" alt="" srcset="" class="divider-bottom">
  
  
        <button class="play-button"><i class="fa-solid fa-gamepad"></i>
          Comenzar a Jugar</button>
      </div>
  
  
      <div class="information">
        <img src="../../../assets/images/pngegg.png" class="logoInterlude" alt="" srcset="">
        <div class="status-sv">
          <span class="font-beaufort-bold">
            ESTADO
  
          </span>
          <img class="rotating" src="assets/images/marker_green_icon.png" alt="" srcset="">
        </div>
        <div class="rates-sv">
          <div class="header-rates-sv">
            <img src="assets/images/tn1bZ9rL7z8g3W75oqTy7QMPhYeBEVkA8yfUkY3Y.png" alt="" srcset="">
  
            <span>
              <span class="font-beaufort-bold"> <b> TERRA X15</b></span>
              <br>
              <span class="font-din-normal" style="font-size: 11px;"> SERVER RATES</span>
            </span>
          </div>
          <div class="rates">
            <img src="assets/images/title_bottom_bg.png" alt="" style="width: 100%;height: 5px; margin-top: -10px;">
            <ul>
              <li class="font-beaufort-regular">EXP <span class="colorRate"> X15</span></li>
              <li class="font-beaufort-regular">SP <span class="colorRate"> X10</span></li>
              <li class="font-beaufort-regular">DROP <span class="colorRate"> X7</span></li>
              <li class="font-beaufort-regular">ADENA<span class="colorRate"> X10</span></li>
              <li class="font-beaufort-regular">SPOIL<span class="colorRate"> X6</span></li>
            </ul>
  
  
          </div>
  
        </div>
      </div>
  
  
  
  
    </div>
  
    <img src="assets/images/footer-corner.png" alt="Esquina superior" class="corner-image bottom-corner">
  
  </div>