@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');


.wrapper-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: "Ubuntu Sans Mono", monospace;
    color: rgb(179, 151, 151);

    /* Fondo con degradado semitransparente y una imagen */
    background-image:
        linear-gradient(180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(2, 2, 15, 1) 3%,
            rgba(10, 10, 15, 1) 7%,
            rgba(10, 10, 20, 1) 10%,
            rgba(15, 10, 20, 0.9) 14%,
            rgba(15, 10, 20, 0.9) 18%,
            rgba(20, 10, 25, 0.8) 23%,
            rgba(20, 10, 30, 0.8) 27%,
            rgba(20, 10, 30, 0.8) 32%,
            rgba(20, 10, 30, 0.9) 37%,
            rgba(15, 10, 30, 0.8) 42%,
            rgba(10, 10, 30, 0.8) 47%,
            rgba(10, 10, 35, 0.8) 52%,
            rgba(10, 10, 35, 0.8) 58%,
            rgba(10, 10, 35, 0.8) 63%,
            rgba(10, 10, 30, 0.9) 69%,
            rgba(10, 10, 25, 1) 75%,
            rgba(10, 10, 20, 1) 81%,
            rgba(10, 10, 15, 1) 87%,
            rgba(2, 2, 15, 1) 94%,
            rgba(0, 0, 0, 1) 100%),
        url('../../../assets/images/bg8.jpg');
        filter: grayscale(80%); 
        filter: sepia(50%);

    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}


.wrapper-form form {
    padding: 2em;
    width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);


}


a {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.wrapper-form form:hover a {
    color: rgb(66, 66, 66);
}

.wrapper-form form:hover {

    filter: drop-shadow(0px 0px 14px #464646);
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(30px);
    color: rgb(253, 253, 253);
}



.wrapper-form form .row {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

form .welcome {
    text-align: center;
}


.wrapper-form form::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    background: linear-gradient(90deg, #746535 0%, #DABE64 100%);
    border-radius: 50%;
    box-shadow: -20px 0px 0px rgb(253, 253, 253);
}

.btnGoogle {
    width: 100%;
    color: white;
    background-color: #df3727;
    border: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 2px;

    font-weight: 700;
}

.info {
    text-align: center;
}


.btnSubmit {
    border: none;
    padding: 4px;
    background: linear-gradient(90deg, #746535 0%, #DABE64 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-size: 13.5px;
    color: white;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    height: 35px;
}

/* Estilos para el placeholder en campos de entrada */
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #888;
    font-style: italic;
    font-size: 16px;
    opacity: 0.7;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  background-color: inherit;
  border: none;
  height: 40px;
  border-left: 1px solid rgb(66, 66, 66);
  border-bottom: 2px solid rgb(66, 66, 66);
  border-radius: 2px;
  padding: 5px;
  background-color: #302f2f18;
  color: white;

}


label {
    width: 100% !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 15px;
    text-align: start;
    padding: 0px;
    margin-left: -10px;
    margin-bottom: 10px;
}

.password-wrapper {
    position: relative;
    padding: 0px;
}

.password-wrapper input[type="password"] {
    width: 100%;
}

.password-wrapper .fa-eye,
.password-wrapper .fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(66, 66, 66);
}

.password-wrapper .fa-eye:hover,
.password-wrapper .fa-eye-slash:hover {
    color: #96e6a1;
}

/* Animación bounce */