.verify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .verify-container div {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 400px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .contador {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    border: none !important;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  