<div class="wrapper-download">
    <div class="filter">


        <div class="download-container">
            <h2 class="download-title">Descarga L2 GENESIS</h2>
            <ul class="dependencies-list">
                <li><strong>Dependencias necesarias:</strong></li>
                <ul>
                    <li>Microsoft Visual C++ Redistributable (2010 o superior)</li>
                    <li>.NET Framework 4.0 o superior</li>
                    <li>DirectX 9.0c o superior</li>
                    <li>Tarjeta gráfica compatible con DirectX 9.0c</li>
                </ul>
            </ul>
            <ol class="download-steps">
                <li>
                    Descargue el cliente (.rar) haciendo clic
                    <a href="https://tuservidor.com/descarga" class="download-link">aquí</a>.
                </li>
                <li>
                    Una vez descargado, extraiga el archivo .rar en la carpeta de su elección utilizando
                    <b>WinRAR</b> o <b>7-Zip</b>.
                </li>
                <li>
                    Asegúrese de haber instalado las dependencias mencionadas anteriormente.
                </li>
                <li>
                    Diríjase a la carpeta donde extrajo el cliente y busque el archivo
                    <b>l2.exe</b> o <b>L2Genesis.exe</b>.
                </li>
                <li>
                    Ejecute el archivo como administrador (clic derecho sobre el archivo y seleccione "Ejecutar como
                    administrador").
                </li>
            </ol>

            <h3 class="recommendation-title">Recomendaciones adicionales</h3>
            <ul class="recommendations-list">
                <li>Asegúrese de tener al menos 10 GB de espacio libre en disco para la instalación del cliente.</li>
                <li>Se recomienda tener al menos 4 GB de RAM para una experiencia fluida.</li>
                <li>Si experimenta problemas de rendimiento, asegúrese de tener los controladores de su tarjeta gráfica
                    actualizados.</li>
            </ul>

            <h3 class="support-title">Soporte</h3>
            <p class="support-text">
                Si encuentra algún problema durante la instalación o ejecución del cliente, puede visitar el foro
                oficial o contactar al soporte técnico a través de nuestro <a href="https://tuservidor.com/soporte"
                    class="support-link">centro de soporte</a>.
            </p>
        </div>
    </div>
</div>