/* You can add global styles to this file, and also import other style files */
/* Personaliza la barra de desplazamiento en WebKit (Chrome, Safari) */

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

/* Para Firefox, puedes usar esto */
* {
  scrollbar-width: thin; /* Hace la barra más delgada */
  scrollbar-color: #000000 black; /* Color de la barra y el fondo */
}

:root {
  --primary-color: #87B38D;
  /* Verde suave */
  --secondary-color: #071013;
  /* Negro azulado */
  --accent-color: #BCABAE;
  /* Rosa grisáceo */
  --neutral-color: #716969;
  /* Gris oscuro */
}

* {
  padding: 0px;
  margin: 0;
}

body {
  overflow-x: hidden;


}

@font-face {
  font-family: "l2font";
  src: url("assets/fonts/l2font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Beaufort";
  src: url("assets/fonts/Beaufort/BeaufortforLOL-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Beaufort";
  src: url("assets/fonts/Beaufort/BeaufortforLOL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Beaufort";
  src: url("assets/fonts/Beaufort/BeaufortforLOL-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next W1G";
  src: url("assets/fonts/DINNextW1G/DINNextW1G-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next W1G";
  src: url("assets/fonts/DINNextW1G/DINNextW1G.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-beaufort-regular {
  font-family: 'Beaufort', sans-serif;
  font-weight: 400;
}

.font-beaufort-medium {
  font-family: 'Beaufort', sans-serif;
  font-weight: 500;
}

.font-beaufort-bold {
  font-family: 'Beaufort', sans-serif;
  font-weight: 700;

}

.font-din-bold {
  font-family: 'DIN Next W1G', sans-serif;
  font-weight: bold;
}

.font-din-normal {
  font-family: 'DIN Next W1G', sans-serif;
  font-weight: normal;
}


.gradient1 {
  background: linear-gradient(180deg, #000000 0%, #060810 50%, #000000 100%);

}







.nk-page-border .nk-page-border-t,
.nk-page-border .nk-page-border-r,
.nk-page-border .nk-page-border-b,
.nk-page-border .nk-page-border-l {
  position: fixed;
  z-index: 2000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  pointer-events: none;
  background-size: 100% 100%;
}

.nk-page-border .nk-page-border-t,
.nk-page-border .nk-page-border-b {
  left: 0;
  width: 100%;
}



.nk-page-border .nk-page-border-b {
  bottom: 0;
  background-image: url("assets/border-bottom.png");
}

.nk-page-border .nk-page-border-r,
.nk-page-border .nk-page-border-l {
  top: 0;
  height: 100%;
}

.nk-page-border .nk-page-border-r {
  right: 0;
  background-image: url("assets/border-right.png");
}

.nk-page-border .nk-page-border-l {
  left: 0;
  background-image: url("assets//border-left.png");
}

.nk-page-border .nk-page-border-t,
.nk-page-border .nk-page-border-b {
  height: 100px;
}

.nk-page-border .nk-page-border-r,
.nk-page-border .nk-page-border-l {
  width: 100px;
}

@media (max-width: 543px) {

  .nk-page-border .nk-page-border-t,
  .nk-page-border .nk-page-border-b {
    height: 50px;
  }

  .nk-page-border .nk-page-border-r,
  .nk-page-border .nk-page-border-l {
    width: 50px;
  }
}


.preload {
  position: fixed;
  /* Cubre toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Fondo negro */
  display: none;
  /* Oculto por defecto */
  z-index: 999;
  /* Asegúrate de que está sobre otros elementos */
  opacity: 0;
  /* Comienza transparente */

}

.preload.active {
  display: block;
  /* Muestra cuando es activo */
  opacity: 1;
  /* Opacidad al 100% */
}

.left,
.right {
  position: absolute;
  top: 0;
  height: 100%;
  backdrop-filter: blur(90px);

}

.left {
  left: 0;
  width: 50%;
  /* Color de ejemplo */
}

.right {
  right: 0;
  width: 50%;
  /* Color de ejemplo */
}

.left.active,
.right.active {
  animation: slide 0.5s forwards;
  
  /* Agrega animación al deslizar */
}

@keyframes slide {
  from {
    transform: translateX(0);
    /* Comienza en su lugar */
  }

  to {
    transform: translateX(-100%);
    /* Se desliza a la izquierda */
  }
}



.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}