<nav class="navbar navbar-expand-lg gradient1">
    <div class="container-fluid">
        <a [routerLink]="['/home']" class="link-logo" ><img class="logo" src="../../../assets/images/logoEspadaBlanco.png" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            style="outline: none; box-shadow: none;">
            <i class="fa-solid fa-bars icon-text"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/home']">Inicio</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a style="color: white;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Estadisticas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item">Top pvp</a></li>
                        <li><a class="dropdown-item">Top pk</a></li>
                        <li><a class="dropdown-item">Top clan</a></li>
                        <li><a class="dropdown-item">List heroes</a></li>
                        <li><a class="dropdown-item">Boss status</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/download']">Descargas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Informacion</a>
                </li>
            </ul>
            <div class="wrapper-panel">
                <button *ngIf="!isLoggedIn" class="btn-gold" [routerLink]="['/register']">Registrarse</button>
                <button *ngIf="!isLoggedIn" class="btn-gold" [routerLink]="['/login']">Ingresar</button>
                <span *ngIf="isLoggedIn" class="nav-item dropdown">
                    <a style="color: white;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user-gear"></i> Panel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-right: 100px;">
                        <li><a class="dropdown-item"><i class="fa-solid fa-user-gear"></i> Configuración</a></li>
                        <li><a class="dropdown-item"><i class="fa-solid fa-key"></i> Cambiar Contraseña</a></li>
                        <li (click)="logout()"><a class="dropdown-item"> <i class="fa-solid fa-right-from-bracket"></i>
                                Salir</a></li>


                    </ul>
                </span>
            </div>
        </div>
    </div>
</nav>